.search-section {
  height: 60px;
}

.section-flex {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 3rem;
}

.search-container {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}

.search-input {
  flex-grow: 1;
  border: none;
  font-size: 1rem;
  color: #888888;
}

.search-icon {
  align-self: center;
  flex-basis: 50px;
  color: #888888;
}

.search-input:focus-visible {
  outline-width: 0px;
}

.css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  color: white !important;
  background-color: black !important;
}

.css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected:hover {
  background-color: rgba(0, 0, 0, 0.692) !important;
}

.price-show {
  font-size: 20px;
  margin-top: 1rem;
}
