.thumb-gallery {
  height: 481px;
  width: 100%;
  max-width: 617px;
}

.thumb-gallery .swiper {
  width: 100%;
  height: 100%;
}
.thumb-gallery {
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0;
    transition: all .3s;
  }
  .mySwiper2:hover {
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
    }
  }
}

.thumb-gallery .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.thumb-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb-gallery .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.thumb-gallery .swiper-slide {
  background-size: cover;
  background-position: center;
}

.thumb-gallery .mySwiper2 {
  height: 80%;
  width: 100%;
}

.thumb-gallery .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 0px 0;
}

.thumb-gallery .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border: solid 1px rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

.thumb-gallery .mySwiper .swiper-slide:hover {
  border: solid 1px black;
  cursor: pointer;
}

.thumb-gallery .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.thumb-gallery .swiper-slide {
  padding: 0px;
}
.thumb-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
