.comment-title {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.user-comment-name {
  font-size: 1.3rem;
  text-align: left;
  margin-bottom: 1rem;
}

.user-comment-description {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 1rem;
}

.comment-relative-time {
  font-size: 1rem;
  text-align: left;
  color: rgb(94, 94, 94);
}
.comment-container {
  margin-bottom: 5rem;
}
