.orderresearch-container {
  padding: 3rem 0rem;
}
.research-label{
    margin:1rem 0rem;
    font-size:1rem;
}

.reasearch-title{
    font-size:1.5rem;
}
.research-content{
    display: flex;
    align-items: center;
    justify-content: center;
}