*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-font: "Roboto", sans-serif;
  --main-font-color:black;
  --second-font-color:white;
  --main-bg-color:white;
  --second-bg-color:#f3f3f3;
  --button-first-color:black;
  --button-second-color:#7B0000;
  --button-third-color:#001973;

}

body{
  font-family: var(--main-font-color);
  font-size: 10px;
  color: var(--main-font-color);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
